@model Drision.MVCFrame.Model.SysRole

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>SysRole</legend>

    <div class="display-label">RoleName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleName)
    </div>

    <div class="display-label">RoleDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleDescription)
    </div>

    <div class="display-label">RoleOrder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoleOrder)
    </div>

    <div class="display-label">DelFlag</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DelFlag)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RoleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
