@model IEnumerable<Drision.MVCFrame.Model.SysRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            RoleName
        </th>
        <th>
            RoleDescription
        </th>
        <th>
            RoleOrder
        </th>
        <th>
            DelFlag
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelFlag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RoleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RoleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RoleID })
        </td>
    </tr>
}

</table>
