@model IEnumerable<Drision.MVCFrame.Model.SysAction>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            RequestUrl
        </th>
        <th>
            RequestHttpType
        </th>
        <th>
            ActionName
        </th>
        <th>
            SubTime
        </th>
        <th>
            ActionType
        </th>
        <th>
            DelFlag
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestHttpType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelFlag)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActionID })
        </td>
    </tr>
}

</table>
