@model Drision.MVCFrame.Model.SysGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>SysGroup</legend>

    <div class="display-label">GroupName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupName)
    </div>

    <div class="display-label">GroupOrder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupOrder)
    </div>

    <div class="display-label">GroupDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupDescription)
    </div>

    <div class="display-label">GroupType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GroupType)
    </div>

    <div class="display-label">DelFlag</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DelFlag)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
