

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sys_R_Role_Action</legend>

    <div class="display-label">RoleName</div>
    <div class="display-field">
        @Model.GetType().GetProperty("RoleName").GetValue(Model, null)

    </div>

    <div class="display-label">ActionName</div>
    <div class="display-field">
        @Model.GetType().GetProperty("ActionName").GetValue(Model, null)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = @Model.GetType().GetProperty("ID").GetValue(Model, null) }) |
    @Html.ActionLink("Back to List", "Index")
</p>
