
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            RoleID
        </th>
        <th>
            RoleName
        </th>
        <th>
            ActionID
        </th>
        <th>
            ActionName
        </th>
        <th></th>
    </tr>

 @foreach (var item in Model as IEnumerable<object>)
    {
        <tr>
            <td>
                @item.GetType().GetProperty("RoleID").GetValue(item, null)
            </td>
            <td>
                @item.GetType().GetProperty("RoleName").GetValue(item, null)
            </td>
            <td>
                @item.GetType().GetProperty("ActionID").GetValue(item, null)
            </td>
            <td>
                @item.GetType().GetProperty("ActionName").GetValue(item, null)
            </td>
            <td>
             @Html.ActionLink("Edit", "Edit", new { id = @item.GetType().GetProperty("ID").GetValue(item, null) }) |
            @Html.ActionLink("Details", "Details", new { id = @item.GetType().GetProperty("ID").GetValue(item, null) }) |
            @Html.ActionLink("Delete", "Delete", new { id = @item.GetType().GetProperty("ID").GetValue(item, null) })
            </td>
        </tr>
    }
  

</table>
